#http
SERVER_PORT =

#tcp
SOCKET_HOST =
SOCKET_PORT =

ACCOUNT_SOCKET_HOST =
ACCOUNT_SOCKET_PORT =

#kafka
KAFKA_CLIENT_PREFIX =
KAFKA_CONSUMER_GROUP_PREFIX =
KAFKA_BROKER_URL =

#JWT
JWT_SECRET_KEY =

#Google Social Login
GOOGLE_CLIENT_ID =
GOOGLE_CLIENT_SECRET =
GOOGLE_REDIRECT_URL =