#http
SERVER_PORT

#tcp
AUTH_SOCKET_HOST
AUTH_SOCKET_PORT
ACCOUNT_SOCKET_HOST
ACCOUNT_SOCKET_PORT
GAME_SOCKET_HOST
GAME_SOCKET_PORT

#kafka
KAFKA_AUTH_CLIENT_PREFIX
KAFKA_AUTH_CONSUMER_GROUP_PREFIX
KAFKA_ACCOUNT_CLIENT_PREFIX
KAFKA_ACCOUNT_CONSUMER_GROUP_PREFIX
KAFKA_GAME_CLIENT_PREFIX
KAFKA_GAME_CONSUMER_GROUP_PREFIX
KAFKA_BROKER_URL

#jwt
JWT_SECRET_KEY

#google
GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET
